<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.mamori_i.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- BLE -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">

        <service
            android:name=".service.BluetoothMonitoringService"
            android:foregroundServiceType="location"
            android:exported="false" />

        <activity
            android:name=".screen.common.WebActivity"
            android:exported="false" />
        <activity
            android:name=".screen.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".screen.menu.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".screen.menu.LicenseActivity"
            android:exported="false" />
        <activity
            android:name=".screen.menu.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".screen.menu.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".screen.profile.InputPrefectureActivity"
            android:exported="false" />
        <activity
            android:name=".screen.profile.InputOrganizationCodeActivity"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:exported="false" />
        <activity
            android:name=".screen.permission.PermissionSettingActivity"
            android:exported="false" />
        <activity
            android:name=".screen.start.AgreementActivity"
            android:exported="false" />
        <activity
            android:name=".screen.start.SplashActivity"
            android:label="@string/app_name"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.start.TutorialActivity"
            android:exported="false" />
        <activity
            android:name=".screen.trace.TraceHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".screen.trace.TraceDataUploadActivity"
            android:exported="false" />

        <activity android:name=".screen.home.TestBLEActivity" android:exported="false" /> <!-- TODO 動作確認用 -->
        <activity android:name=".screen.home.BLEActivity" android:exported="false" /> <!-- TODO 動作確認用 -->
        <activity android:name=".screen.home.TestPositiveCheckActivity" android:exported="false" /> <!-- TODO 動作確認用 -->
        <activity android:name=".screen.home.TestContactListActivity" android:exported="false" /> <!-- TODO 動作確認用 -->

    </application>

</manifest>